
.container {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    align-self: auto;
} 

.relative {
    position: absolute;
    text-align: center;
    color:rgba(255, 255, 255, 0.671)
}

